@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-container {
  background-image: url("/images/headerbg.avif"),
    linear-gradient(to bottom, #ff660091, #00294a 40%);
  background-blend-mode: overlay;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
